{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .card {
        height: 100%;
    }
</style>
<div class="container">
    <div class="d-flex justify-content-center">
        <h1>About Us</h1>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <p class="text-center px-4 bg-gray rounded-lg" style="font-size: 18px;">
                    Welcome to EduBoost! I am the creator of this platform, Lin, a passionate ECE student
                    dedicated to sharing educational opportunities and providing hands-on experience to everyone.
                    With a shared vision of making education accessible and engaging, I founded this platform to
                    empower learners of all backgrounds to acquire knowledge and develop practical skills.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="card mb-4 box-shadow h-100"> <!-- Add the "h-100" class here -->
                <img class="card-img-top" src="{% static 'img/YHL.png' %}" alt="YHL" width="300" height="500">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">
                            I'm Lin, an electrical and computer engineering major with a passion for coding.
                            I believe in the power of hands-on learning and providing free education opportunities to
                            all. Through EduBoost, I aim to inspire learners, foster practical
                            skills, and create an inclusive community for knowledge sharing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="card mb-4 box-shadow h-100"> <!-- Add the "h-100" class here -->
                <img class="card-img-top" src="{% static 'img/zlf.jpg' %}" alt="zlf" width="300" height="500">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">
                            Hi Guys I am Linfeng Zhang, I am an international student who studies at Pasadena City college. 
                            I am majoring Computer Engineering. I did study programs in my hometown company so I believe I 
                            have enough knowledge to tutor circuits analysis, I will put some content explanations and solutions
                            of some good problems to help others better understand circuits and succeed in collages.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center my-4" style="background-color: lightblue;">
        <div class="card-body">
            <p class="card-text" style="font-size: 20px; color: black;">
                If you're interested in joining us, feel free to contact us through:
            </p>
            <p class="card-text" style="font-size: 20px; color: black;">
                gmail: eduboost0204@gmail.com<br>
                WeChat ID: linnn20030204<br>
                Discord: efs98010<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}
