{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ course_detail.title }}</h1>
            <div class="d-flex justify-content-center mt-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <p class="text-center px-4" style="font-size: 18px;">
                            {{ course_detail.description }}
                        </p>
                    </div>
                </div>
            </div>
            <img src="{{ course_detail.preview_img.url }}" alt="Course Preview Image"
                class="img-fluid mx-auto d-block mt-4 mb-4" style="padding: 10px;" width="700px" height="500px">

            <h2>Lessons:</h2>
            <ul class="list-group">
                {% for lesson in course_detail.lessons.all %}
                <li class="list-group-item">{{ lesson.title }}</li>
                {% for video in lesson.videos.all %}
                <div class="card my-2">
                    <div class="card-body">
                        <h4 class="card-title">{{ video.title }}</h4>
                        <iframe class="embed-responsive-item" width="560" height="315" src="{{ video.youtube_link }}"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}