{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{ course.title }}</h1>
            <div class="d-flex justify-content-center mt-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <p class="text-center px-4" style="font-size: 18px;">{{ course.description }}</p>
                    </div>
                </div>
            </div>
            <img src="{{ course.preview_img.url }}" alt="Course Preview Image"
                class="img-fluid mx-auto d-block mt-4 mb-2" style="padding: 10px;" width="400" height="300">

            {% if is_enrolled %}
            <form action="{% url 'unenroll' course.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Are You Sure to Unenroll?')" class="btn btn-danger mt-2 btn-lg">Unenroll</button>
            </form>
            {% else %}
            <form action="{% url 'enroll' course.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Confirm the Enrollment.')"class="btn btn-primary mt-2 btn-lg">Enroll</button>
            </form>
            {% endif %}

            <h2 class="mt-4">Lessons:</h2>
            {% if lessons %}
                <ul class="list-group">
                    {% for lesson in lessons %}
                        <li class="list-group-item">
                            <a class="btn btn-link folded" data-toggle="collapse" href="#collapse{{ lesson.id }}" role="button"
                                aria-expanded="false" aria-controls="collapse{{ lesson.id }}">
                                {{ lesson.title }}
                            </a>
                            <div class="collapse" id="collapse{{ lesson.id }}">
                                {% for video in lesson.videos.all %}
                                    <div class="card-body">
                                        <h4 class="card-title">{{ video.title }}</h4>
                                        <iframe class="embed-responsive-item" width="325px" height="250px"
                                            src="{{ video.youtube_link }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>   
            {% elif is_enrolled %}
                <div class="d-flex justify-content-center">
                    <h3 class="text-center">No Lessons Posted Yet.</h3>   
                </div>
            {% else  %}
                <div class="d-flex justify-content-center">
                    <h3 class="text-center">Enroll to Check The Course.</h3>   
                </div> 
            {% endif %}         
        </div>
    </div>
</div>
{% endblock %}