{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">My Enrolled Courses</h1>
        {% if courses %}
            <div class="row">
                {% for course in courses %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ course.preview_img.url }}" alt="course_img" width="300" height="300">
                        <div class="card-body text-center">
                            <div>
                                <h4 class="card-title">{{ course.title|truncatechars:30 }}</h4>
                                <div>
                                    <a href="{% url 'course_detail' course.id %}" class="btn btn-primary learn-more-btn">View Course</a>
                                </div>
                                <div class="mt-3">
                                    <p class="card-text">{{ course.description|truncatechars:150 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <h3 class="text-center">No enrolled courses found.</h3>   
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'courses' %}" class="btn btn-primary learn-more-btn" style="width: 200px;">View More Courses</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
