{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Search Results for {{ query }}</h2>
        <form class="form-inline justify-content-center mt-4" action="{% url 'search' %}" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="query" value="{{ query }}" placeholder="Search courses" required>
            </div>
            <button type="submit" class="btn btn-primary ml-2">Search</button>
            <a class="btn btn-primary ml-2" href={% url 'courses' %}>All Courses</a>
        </form>
        {% if courses %}
            <div class="row mt-4">
                {% for course in courses %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ course.preview_img.url }}" alt="{{ course.title }}" width="300" height="300">
                            <div class="card-body">
                                <h4 class="card-title">{{ course.title }}</h4>
                                <p class="card-text">{{ course.description }}</p>
                                <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center mt-4">No courses found.</p>
        {% endif %}
    </div>
{% endblock %}
